.mymetadata
.recommenders
.DS_Store
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
*.jar
*.versionsBackup
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
target/
monitor-web/.metadata/.plugins/
monitor-web/.metadata/
temp/
logs/
.metadata/.plugins/
monitor-web/.metadata/
.metadata/
Servers/
.factorypath
.springBeans
